.prev-screen,
.last-screen {
  display: none;
}

.shinyglide {
  position: relative;
}

.shinyglide-detector {
    width: 0;
    height: 0;
}

.shinyglide-hidden {
    display: none;
}


@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.shinyglide-spinner {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

.shinyglide-spinner-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}
